<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-mg-2">
        <img src="../../../assets/perfil.jpg" 
        class="img-fluid" id="foto-perfil">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gabriel Gomez</p>
        <p>Full Stack Developer jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1> 
         <p>Estudiante de programacion, autodidacta, una persona que se adapta al entorno para poder desemplear un mejor desempeño. Me gusta mucho aprender nuevas habilidades, con aptitudes optimistas. </p> </span>
    </div>
</div>