<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h1>Bachero</h1> - <h3>(3 meses)</h3> </li>
            <p>Mi primer trabajo, en Pizzeria Popular</p>
        </ul>
        <ul>
            <li> <h1>Ayudante de cocina</h1> - <h3>(2 meses)</h3> </li>
            <p>Lugar de trabajo Pizzeria Popular</p>
        </ul>
        <ul>
            <li> <h1>Cocinero</h1> - <h3>(6 meses)</h3> </li>
            <p>Mi trabajo actual en Pizzeria Popular</p>
        </ul>
    </div>
</div>