<div class="row">
    <div class="conteiner">
        <div class="logo">
            <img src="../../../assets/Argentina.png.png" id="logoap">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/intagram.png.jpg" id="linkedin"></a>
            
            <a href=""><img src="../../../assets/face,png.png" id="facebook"></a>
        
            <a href=""><img src="../../../assets/githup.png.png" id="github"></a>
            
            <a href=""><img src="../../../assets/linkeding,png.png" id="linkeding"></a>
            
            <button type="button" class="btn btn-outline-dark">Ingreso</button>
        
        </div>
    </div>
</div>

